# Assignment 3

## Codding for Business Analytics

### _Ayaz and Cathy Liu_

First of all we are loading the all necessary libraries like pandas and numpy and creating the variables (dataframe) from the files provided

## Uploading the libraries

In [1]:
import pandas as pd
import numpy as np

## Loading the data and showing the top rows of each table:

In [2]:
orders = pd.read_csv("orders.csv")
order_details = pd.read_csv("order_details.csv")
pc = pd.read_json("pc.json")
orders.head()

,order_id,customer_name,freight,ship_name,ship_address,ship_city,ship_region,ship_postal_code,ship_country
0,10248,Paul Henriot,32.38,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,NaN,51100,France
1,10249,Karin Josephs,11.61,Toms Spezialitäten,Luisenstr. 48,Münster,NaN,44087,Germany
2,10250,Mario Pontes,65.83,Hanari Carnes,"Rua do Paço, 67",Rio de Janeiro,RJ,05454-876,Brazil
3,10251,Mary Saveley,41.34,Victuailles en stock,"2, rue du Commerce",Lyon,NaN,69004,France
4,10252,Pascale Cartrain,51.30,Suprêmes délices,"Boulevard Tirou, 255",Charleroi,NaN,B-6000,Belgium

In [4]:
order_details.head()

,order_id,product_name,product_category_id,unit_price,quantity
0,10248,Queso Cabrales,4,14.0,12
1,10248,Singaporean Hokkien Fried Mee,5,9.8,10
2,10248,Mozzarella di Giovanni,4,34.8,5
3,10249,Tofu,7,18.6,9
4,10249,Manjimup Dried Apples,7,42.4,40

In [9]:
pc

,category_id,category_name,description
0,1,Beverages,"Soft drinks, coffees, teas, beers, and ales"
1,2,Condiments,"Sweet and savory sauces, relishes, spreads, an..."
2,3,Confections,"Desserts, candies, and sweet breads"
3,4,Dairy Products,Cheeses
4,5,Grains/Cereals,"Breads, crackers, pasta, and cereal"
5,6,Meat/Poultry,Prepared meats
6,7,Produce,Dried fruit and bean curd
7,8,Seafood,Seaweed and fish

## Question 1: 
Based on the freights spent on these orders, please estimate the budget of the freights in the next month for this business.Note that you can decide on how to estimate the budget, but the budget should not be lower than the calculated freight cost.

## Explanation: 
Below piece of code shows the sum of freight spent in last month so the next month freight cost should be more than this

In [5]:
total_freight_cost = orders['freight'].sum()
total_freight_cost

10363.8

Since the business is expanding and other factors like fuel price, labour, inflation etc are also increasing we assume the next budget will rise upto 3%

In [6]:
estimated_freight_cost = total_freight_cost + (total_freight_cost * 0.03) # using 3% inflation rate
estimated_freight_cost

10674.714

## Question 2:

Try to find the countries with the most orders, which implies the strong markets that the business should focus on.

## Explanation: 

Below piece of code shows the name of countries with max number of orders.

In [7]:
countries_most_order = orders['ship_country'].value_counts()
countries_most_order

Germany        24
USA            23
France         15
Brazil         13
UK             11
Mexico          9
Venezuela       8
Austria         8
Sweden          6
Spain           6
Ireland         5
Canada          4
Portugal        4
Finland         4
Italy           3
Switzerland     3
Denmark         3
Belgium         2
Poland          1
Norway          1
Name: ship_country, dtype: int64

## Question 3:
The business wants to reward customers who buy frequently by rewarding them with discount coupons
Find 3 customers who have the highest number of orders in the dataset.
## Explanation:
Below the top 3 customers from the data set

In [8]:
top_3_customers = orders.groupby("customer_name").count()["order_id"].sort_values(ascending=False).head(3)
top_3_customers

customer_name
Paula Wilson     6
Horst Kloss      6
Roland Mendel    6
Name: order_id, dtype: int64

Another easier way of doing this is:

In [8]:
top_3_customers_2 = orders['customer_name'].value_counts().head(3)
top_3_customers_2

Roland Mendel    6
Horst Kloss      6
Paula Wilson     6
Name: customer_name, dtype: int64

## Question 4:
Which product category has the highest sales revenue? These products are popular and there may be implications for business operations. _\*(Note: The total sales of a product is the sum of the values of_ <span style="color: #800000;font-style: italic;">``unit&nbsp;price&nbsp;*&nbsp;quantity``</span> _in all relevant orders. The sales of a product category are the sum of the total sales of the products in the category.)\*_

### Step 1:
First we created the sales column in the order\_details dataframe as shown below

In [9]:
order_details['sales'] = order_details['unit_price'] * order_details['quantity']
order_details.head()

,order_id,product_name,product_category_id,unit_price,quantity,sales
0,10248,Queso Cabrales,4,14.0,12,168.0
1,10248,Singaporean Hokkien Fried Mee,5,9.8,10,98.0
2,10248,Mozzarella di Giovanni,4,34.8,5,174.0
3,10249,Tofu,7,18.6,9,167.4
4,10249,Manjimup Dried Apples,7,42.4,40,1696.0

### Step 2:
Now we will merge the order_details dataframe and pc dataframe to compare the sales revenue of each categories

In [20]:
# renaming the column name
order_details = order_details.rename(columns={"product_category_id":"category_id"})
combine_df = pd.merge(order_details, pc, how="inner", on='category_id')
combine_df.groupby('category_name').sum()['sales'].sort_values(ascending=False)

category_name
Beverages         54383.2
Dairy Products    44615.8
Meat/Poultry      32371.2
Confections       31991.6
Seafood           21589.6
Condiments        19458.3
Produce           15134.2
Grains/Cereals     9817.6
Name: sales, dtype: float64